body{
    background-color: white;
}
.questions{
    background-color: #f8f8f8;
    border-left: 5px solid #26067e;
    width: 80%;
    height: 60%;
    margin: 3rem auto 0 auto;
    padding-left: 20px;
    margin-top: 4%;
    margin-bottom: 3%;
    
    padding-bottom: 1rem;
    padding: 1.5rem 2rem;
}
.lifeline-container{
    display: flex;
    justify-content: space-between;
}
.lifeline {
    position: relative;
    top: -3px;
}
.questionsection{
    font-size: 1.2rem;
    margin-bottom: lg;
    line-height: 1.5;
    text-align: center;
}
.options-container{
    display: inline;
    width: 40%;

}
.option{
    background-color: #1da1f2;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    margin: 2rem auto;
    padding: 1rem;
    transition: 0.3s linear all;
    text-align: center;
    width: 90%;
    
    
}
.option:hover {
    background-color: darken(#1da1f2,20%);
}
.button-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 1.5rem auto;
    padding: 2rem;
    width: 80%;
}
.button-container button {
    border: none;
    color: #f8f8f8;
    cursor: pointer;
    font-family: 'Quicksand',sans-serif;
    margin-right: 2rem;
    padding: 0.5rem 1.5rem;
}
.button-container button:first-child {
    background-color: #1da1f4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.13),0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s linear all;
}
.button-container button:first-child:hover {
    background-color: #1da1f4;
}
.button-container button:nth-child(2) {
    background-color: green;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.13),0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s linear all;
}
.button-container button:last-child {
    background-color: red;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.13),0 1px 5px 0 rgba(0, 0, 0, 0.2);;;
    transition: 0.2s linear all;
}
h4 {
    text-align: center;
    font-weight: 50%;
    
}

.score-section {
    background: white;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 20rem;
    border: none;
  }
  .question-count{
    position: absolute;
    border: 2px solid #3761eb;
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 50%;
    width: min-content;
    top: 10;
    right: 10;
    font-weight: bold;
  }